<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mapper.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.nile.dao.AuthorDao">
    <insert id="insertAuthor">
        INSERT INTO author (id,name) VALUES (
                #{id},#{name}
        )
    </insert>
    <update id="updateAuthor">
        UPDATE author set name=#{name} where id=#{id}
    </update>
    <delete id="deleteAuthor">
        DELETE FROM author where id=#{id}
    </delete>

    <select id="selectAuthorById" resultType="Author">
        SELECT id,name FROM author WHERE id=#{id}
    </select>
    <select id="selectAuthorAll" resultType="Author">
        SELECT id,name FROM author
    </select>
</mapper>