<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mapper.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.nile.dao.BookDao">

    <resultMap id="authorResult" type="Author" extends="com.nile.dao.AuthorDao.authorResult"/>

    <resultMap id="publisherResult" type="Publisher" extends="com.nile.dao.PublisherDao.publisherResult"/>

    <resultMap id="categoryResult" type="Category" extends="com.nile.dao.CategoryDao.categoryResult"/>

    <resultMap id="bookResult" type="Book">
        <id column="book_id" property="id"/>
        <result column="book_name" property="name"/>
        <result column="book_price" property="price"/>

        <association property="publisher" resultMap="publisherResult"/>
        <collection property="authors" ofType="Author" resultMap="authorResult"/>
        <collection property="categories" ofType="Category" resultMap="categoryResult"/>
    </resultMap>

    <sql id="authorColumns">
        <include refid="com.nile.dao.AuthorDao.authorColumns"/>
    </sql>

    <sql id="categoryColumns">
        <include refid="com.nile.dao.CategoryDao.categoryColumns"/>
    </sql>

    <sql id="publisherColumns">
        <include refid="com.nile.dao.PublisherDao.publisherColumns"/>
    </sql>

    <sql id="bookColumns">
        bo.id as book_id,
        bo.name as book_name,
        bo.price as book_price
    </sql>

    <sql id="bookFilter">
        <if test="id !=null">
            id=#{id}
        </if>
        <if test="name!=null">
            and name=#{name}
        </if>
    </sql>

    <sql id="updateBookFilter">
        <if test="name !=null">
            name=#{name},
        </if>
        <if test="price !=null">
            price=#{price},
        </if>
        <if test="publisher!=null">
            bo.publisher_id=#{publisher.id}
        </if>
    </sql>

    <insert id="insertBook" parameterType="Book" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO book (
            id, name, price, author_id, category_id, publisher_id)
        VALUES (
            #{id}, #{name}, #{price}, #{author.id}, #{category.id}, #{publisher.id}
        )
    </insert>
    <insert id="insertBatchBook" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO
        book(name, price, publisherId) VALUES
        <foreach collection="books!=null and books.size>0">
            name=#{name},price=#{price},publish_id=#{publisherId}
        </foreach>
    </insert>
    <insert id="insertBookAuthor" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO
        book_author
        (book_id, author_id) VALUES (#{bookId},#{authorId})
    </insert>
    <insert id="insertBookCategory" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO
        book_category
        (book_id, category_id) VALUES (#{bookId},#{categoryId})
    </insert>

    <update id="updateBook" parameterType="UpdateBookFilter">
        UPDATE book bo
        INNER JOIN publisher pu ON pu.id=bo.publisher_id
        <set>
            <include refid="updateBookFilter"/>
        </set>
        where
            id=#{bookAuthorId}
    </update>
    <update id="updateBookAuthor" parameterType="UpdateBookAuthorFilter">
        UPDATE
            book_author
        SET
            <if test="oldBookId!=null and newBookId!=null">
                book_id=#{newBookId},
            </if>
            <if test="oldAuthorId!=null and newAuthorId!=null">
                author_id=#{newAuthorId},
            </if>
        <where>
            id=#{id}
            <if test="oldBookId!=null and newBookId!=null">
                and book_id=#{oldBookId}
            </if>
            <if test="oldAuthorId!=null and newAuthorId!=null">
                and author_id=#{oldAuthorId}
            </if>
        </where>
    </update>
    <update id="updateBookCategory" parameterType="UpdateBookCategoryFilter">
        UPDATE
        book_category
        SET
        <if test="oldBookId!=null and newBookId!=null">
            book_id=#{newBookId},
        </if>
        <if test="oldCategoryId !=null and newCategoryId!=null">
            category_id=#{newCatetoryId},
        </if>
        <where>
            id=#{id}
            <if test="oldBookId!=null and newBookId!=null">
                and book_id=#{oldBookId}
            </if>
            <if test="oldCategoryId !=null and newCategoryId!=null">
                and category_id=#{oldCatetoryId}
            </if>
        </where>
    </update>

    <delete id="deleteBook">
        DELETE FROM book WHERE id=#{id}
    </delete>

    <select id="selectBookById" resultMap="bookResult">
        SELECT
            <include refid="bookColumns"/>,
            <include refid="authorColumns"/>,
            <include refid="categoryColumns"/>,
            <include refid="publisherColumns"/>
        FROM book bo
            LEFT JOIN publisher pu ON bo.publisher_id=pu.id
            left join book_author ba on ba.book_id=bo.id
            LEFT JOIN author au ON ba.author_id=au.id
            left join book_category bc on bc.book_id=bo.id
            LEFT JOIN category ca ON bc.category_id=ca.id
        WHERE
            bo.id=#{id}
    </select>

    <select id="selectBookAll" resultMap="bookResult">
        select
            <include refid="bookColumns"/>,
            <include refid="authorColumns"/>,
            <include refid="categoryColumns"/>,
            <include refid="publisherColumns"/>
        from book bo
            LEFT JOIN publisher pu ON bo.publisher_id=pu.id
            left join book_author ba on ba.book_id=bo.id
            LEFT JOIN author au ON ba.author_id=au.id
            left join book_category bc on bc.book_id=bo.id
            LEFT JOIN category ca ON bc.category_id=ca.id
    </select>
    <select id="selectBookByFilter" resultMap="bookResult">
        SELECT
            <include refid="bookColumns"/>,
            <include refid="authorColumns"/>,
            <include refid="categoryColumns"/>,
            <include refid="publisherColumns"/>
        FROM book bo
            LEFT JOIN publisher pu ON bo.publisher_id=pu.id
            left join book_author ba on ba.book_id=bo.id
            LEFT JOIN author au ON ba.author_id=au.id
            left join book_category bc on bc.book_id=bo.id
            LEFT JOIN category ca ON bc.category_id=ca.id
        <where>
            <include refid="bookFilter"/>
        </where>
    </select>
</mapper>