<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mapper.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.nile.dao.CategoryDao">

    <resultMap id="categoryResult" type="Category">
        <id column="category_id" property="id"/>
        <result column="category_name" property="name"/>
    </resultMap>

    <sql id="categoryColumns">
        ca.id as category_id,
        ca.name as category_name
    </sql>

    <insert id="insertCategory">
        insert into category (id,name) values (
        <set>
            <if test="id!=null">
                #{id},
            </if>
            <if test="name !=null">
                #{name}
            </if>
        </set>
        )
    </insert>
    <update id="updateCategory">
        UPDATE category
        SET name = #{name}
        WHERE id = #{id}
    </update>
    <delete id="deleteCategory">
        DELETE FROM category
        WHERE id = #{id}
    </delete>

    <select id="selectCategoryById" resultType="Category">
        SELECT
            id,
            name
        FROM category
        WHERE id = #{id}
    </select>
    <select id="selectCategoryAll" resultType="Category">
        SELECT
            id,
            name
        FROM category
    </select>
</mapper>