<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mapper.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.nile.dao.PublisherDao">
    <insert id="insertPublisher">
        insert into publisher (id,name) values (
          <set>
              <if test="id!=null">
                  #{id},
              </if>
              <if test="name!=null">
                  #{name}
              </if>
          </set>
        )
    </insert>
    <update id="updatePublisher">
        update publisher set  = name=#{name} where id=#{id}
    </update>
    <delete id="deletePublisher">
        DELETE FROM publisher where id=#{id}
    </delete>

    <select id="selectPublisherById" resultType="Publisher">
        SELECT id,name FROM publisher WHERE id=#{id}
    </select>
    <select id="selectPublisherAll" resultType="Publisher">
        SELECT id,name FROM publisher
    </select>
</mapper>